<a href="https://colab.research.google.com/github/nazmulgazi1989/cdmaw_cdhit/blob/main/cdmaws_cdhit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import math
df = pd.read_csv ('/content/sample_data/test.csv')
print(df)

  Unnamed: 0  A11  A12  A13  A14  A15
0        A11    1    2    3    4    5
1        A21    6    7    8    9   10
2        A31   11   12   13   14   15
3        A41   16   17   18   19   20
4        A51   21   22   23   24   25

In [3]:
for i, j in df.iterrows():
  for m,n in j[1:].iteritems():
    if n > 5:
      print("index :",i)
      print("i",df.iloc[i,0])
      print("m",m)
      print("n",n)

index : 1
i A21
m A11
n 6
index : 1
i A21
m A12
n 7
index : 1
i A21
m A13
n 8
index : 1
i A21
m A14
n 9
index : 1
i A21
m A15
n 10
index : 2
i A31
m A11
n 11
index : 2
i A31
m A12
n 12
index : 2
i A31
m A13
n 13
index : 2
i A31
m A14
n 14
index : 2
i A31
m A15
n 15
index : 3
i A41
m A11
n 16
index : 3
i A41
m A12
n 17
index : 3
i A41
m A13
n 18
index : 3
i A41
m A14
n 19
index : 3
i A41
m A15
n 20
index : 4
i A51
m A11
n 21
index : 4
i A51
m A12
n 22
index : 4
i A51
m A13
n 23
index : 4
i A51
m A14
n 24
index : 4
i A51
m A15
n 25

In [ ]:
data = []
sourceIncludes = []
for _,value1 in df.iterrows():
  sourceIncludes.append(value1['country'])
  for _,value2 in df.iterrows():
   if value1['country'] !=  value2['country'] and value1['ranking'] > value2['ranking'] and value2['country'] not in sourceIncludes:
     d= dict()
     d['source'] = value1['ID'];
     d['target'] = value2['ID']
     data.append(d)
print(str(data))

In [ ]:
for name, values in df.iteritems():
  for name, values in df.iteritems():
  
    print('{name}: {value}'.format(name=name, value=values))

Unnamed: 0: 0    A11
1    A21
2    A31
3    A41
4    A51
Name: Unnamed: 0, dtype: object
A11: 0     1
1     6
2    11
3    16
4    21
Name: A11, dtype: int64
A12: 0     2
1     7
2    12
3    17
4    22
Name: A12, dtype: int64
A13: 0     3
1     8
2    13
3    18
4    23
Name: A13, dtype: int64
A14: 0     4
1     9
2    14
3    19
4    24
Name: A14, dtype: int64
A15: 0     5
1    10
2    15
3    20
4    25
Name: A15, dtype: int64

In [ ]:
for column in df:
    print(df[column])

0    A11
1    A21
2    A31
3    A41
4    A51
Name: Unnamed: 0, dtype: object
0     1
1     6
2    11
3    16
4    21
Name: A11, dtype: int64
0     2
1     7
2    12
3    17
4    22
Name: A12, dtype: int64
0     3
1     8
2    13
3    18
4    23
Name: A13, dtype: int64
0     4
1     9
2    14
3    19
4    24
Name: A14, dtype: int64
0     5
1    10
2    15
3    20
4    25
Name: A15, dtype: int64