<a href="https://colab.research.google.com/github/nazmulgazi1989/cdmaw_cdhit/blob/main/cdmaws_cdhit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This python file must be same directory of **cd_maws**. Otherwiswise this does not work

In [ ]:
import pandas as pd
import math
import sys
import os

This

I added two sample fasta file and the enviroment where **maw** and **cd_maws** installed. Otherwise this command does not work

In [ ]:
cmd = 'maw/maw -a DNA -i Data/new/R0/r0.fasta -o Data/new/R0/r0_now.maw.fasta -k 2 -K 5'
cmd1 = 'maw/maw -a DNA -i Data/new/R1/r1.fasta -o Data/new/R1/r1_now.maw.fasta -k 2 -K 5'

cmd2= './main -i Data/new/R0/r0_now.maw.fasta -o Data/new/R1/r0_now.cdmaw.csv'
cmd3= './main -i Data/new/R1/r1_now.maw.fasta -o Data/new/R1/r1_now.cdmaw.csv'



os.system(cmd)

os.system(cmd1)
os.system(cmd2)
os.system(cmd3)

In [ ]:
df = pd.read_csv ('/content/sample_data/r0.cdmaw.csv')
# print(df)

In [ ]:
outputText = ""
for i, j in df.iterrows():
  for m,n in j[1:].iteritems():
    if n > 0.6555:
      outputText += str(m) + " with " + str(i) +  " - score : "+ str(n) + "\n"

In [ ]:
with open("Output.txt", "w") as text_file:
    text_file.write("%s" % outputText)

In [ ]:
for column in df:
    print(df[column])

0    A11
1    A21
2    A31
3    A41
4    A51
Name: Unnamed: 0, dtype: object
0     1
1     6
2    11
3    16
4    21
Name: A11, dtype: int64
0     2
1     7
2    12
3    17
4    22
Name: A12, dtype: int64
0     3
1     8
2    13
3    18
4    23
Name: A13, dtype: int64
0     4
1     9
2    14
3    19
4    24
Name: A14, dtype: int64
0     5
1    10
2    15
3    20
4    25
Name: A15, dtype: int64